*body{
    padding: 0px;
    width: 100%;
    margin: 0px;
    border: none;
}
.one{
    border: 2px solid red;
    height: 700px;
    width: 100%;
}
.log{
    font-family: 'Corinthia', cursive;
    font-weight: 900px;
}