*body{
    padding: 0px;
    width: 100%;
    margin: 0px;
    border: none;
}

.one{
    border: 2px solid red;
    height: 700px;
    width: 100%;
}

.log{
    font-family: 'Corinthia', cursive;
    font-weight: 900px;
}

.lis{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
}

.lis li a{
    font-size: 25px;
    padding-top: 90px;
}

#por{
    margin-top: 60px;   
}

#bri{
    margin-top: 60px; 
}

