*body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: none;
}

.one{
    border: 2px solid red;
    height: 600px;
    width: 100%;
}

.picha{
    background-image: url("images/apple.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: -21px;
}

.log{
    font-family: 'Corinthia', cursive;
    font-weight: 900px;
    color: blanchedalmond;
}

.lis{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
}

.lis li a{
    font-size: 25px;
    padding-top: 90px;
    color: white;
}

#abt{
    margin-left: 200px;
}

#por{
    margin-top: 120px;  
    margin-left: 250px; 
}

#bri{
    margin-top: 120px;
    margin-left: 200px; 
}

.mimi{
    text-align: center;
    margin-left: 350px;
    margin-top: -400px;
}

.mimi h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.mimi p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#line{
    text-decoration-line: line-through underline;
    text-decoration-color: red;
}

.two{
    border: 2px solid red;
    height: 600px;
    width: 100%;
    background-image: linear-gradient(to bottom,black,white);
}

